{% block body %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Upload A File</h1>
    <form method="POST" enctype="multipart/form-data" action="">
        <input id="file-input" name="files" type="file" placeholder="Upload">
        <input id="user-input" name="user_input" type="text" placeholder="Enter a prompt..." autocomplete="off">
        <div id="info-container">
            <button id="submit-button" type="submit" value="Submit"> Submit </button>
        </div>
    </form>
</body>

<p id="message" data-placeholder="Chatbot responses here...">{{message}}</p>

</html>
{% endblock %}