{% block body%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <h1>Upload an Imsage</h1>
    <form method="POST" enctype="multipart/form-data" action="">
        <input id="file-input" name="files" type="file" placeholder="Upload">
        <input id="user-input" name="user_input" type="text" placeholder="What do you want to know about the image?">
        <div id="info-container">
            <button id="submit-button" type="submit" value="Submit"> Submit </button>
        </div>
    </form>
</body>

<p id="message">{{message}}</p>

</html>
{% endblock %}